<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Yang Dai - Chemist, Programming Enthusiast</title>
     {% load staticfiles  %}
    <!-- Bootstrap core CSS -->
    <link href="{% static 'homepage/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="{% static 'homepage/vendor/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>

    <!-- Custom styles for this template -->
    <link href="{% static 'homepage/css/clean-blog.css' %}" rel="stylesheet">

  </head>

  <body>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
      <div class="container">
        <a class="navbar-brand" href="{% url 'homepage:index' %}">Yang Dai</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          Menu
          <i class="fa fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="{% url 'homepage:index' %}">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'resume:index' %}">Resume</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'homepage:projects' %}">Projects</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'homepage:fun' %}">Fun</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- Page Header -->
{% block top_image %}
    <header class="masthead" style="background-image: url('{% static 'homepage/images/pic5.jpg' %}')">
{% endblock %}
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <div class="site-heading">
                <h1>Hello World,<br> I'm Yang Dai.</h1>
              <span class="subheading">Chemist, Programmer, Brewer</span>
            </div>
          </div>
        </div>
      </div>
    </header>

{% block content %}
{% endblock %}

<footer class="container-fluid text-center">
    <div class="row">
        <div class="col-sm-4">
            <h3>Contact Me</h3><br>
                <p>Phone: 617-253-6964 (office)</p>
                <p>Email: daiy@mit.edu</p>
                <p>Address: Vassar Street, 6-128<br>Cambridge<br>MA 02139</p>
        </div>
        <div class="col-sm-4">
            <h3>Connect</h3>
            <a href="https://www.linkedin.com/in/yang-dai-74091741" class="fa fa-linkedin"></a>
            <a href="https://github.com/superyang713" class="fa fa-github"></a>
            <a href="{% static 'resume/images/wechat.jpg' %}" class="fa fa-wechat"></a>
        </div>
        <div class="col-sm-4">
            <h3>My Wife's Work</h3><br>
            <a href="http://mannasunevents.com"><img src="{% static 'homepage/images/base_manna_logo.png' %}"></a>
        </div>
    </div>
</footer>


    <!-- Bootstrap core JavaScript -->
    <script src="{% static 'homepage/vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'homepage/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

    <!-- Custom scripts for this template -->
    <script src="{% static 'homepage/js/clean-blog.min.js' %}"></script>

  </body>

</html>
