{% extends 'homepage/base.html' %}
{% block content %}
{% load staticfiles %}

<div class="container text-center">
    <div class="row">
        <div class="col-sm-4">
            <a href="{%url 'sammy_blog:index'%}"><img src="{% static 'homepage/images/fun_sammy.jpg' %}"></a>
            <a href="{%url 'sammy_blog:index'%}"><h4>Sammy's Blog</h4></a>
        </div>
        <div class="col-sm-4">
            <a href="#"><img src="{% static 'homepage/images/fun_beer.jpg' %}"></a>
            <a href="#"><h4>Yang's Brewery</h4></a>
        </div>
        <div class="col-sm-4">
            <a href="#"><img src="{% static 'homepage/images/fun_coding.jpg' %}"></a>
            <a href="#"><h4>Road to be a great Pythoneer</h4></a>
        </div>
    </div>
</div>

{% endblock %}