{% extends 'homepage/base.html' %}


{% block content %}
{% load staticfiles %}

<div class="container text-center">
    <h1>---Here's What I've Done So Far---</h1>
    <div class="row">
        <div class="col-md-6">
            <img src="{% static 'homepage/images/instrument_overview.png' %}" class="img-fluid">
        </div>
        <div class="col-md-6">
            <p>I have designed a surface science instrument capable of
            depositing size-selected metal clusters on substrates in ultra-high
            vacuum, atomic layer deposition, as well as in situ analysis of the
            as-deposited samples via XPS and TPD.</p>
        </div>
    </div>
</div>

<div class="container">
    <div class="spacing">
    <div class="row">
        <div class="col-md-6">
            <p>I was born in Northeast China, right on the border between China
            and North Korea. For some reason, I found myself zig-zagging in a
            easterly direction, finishing my high school in Northeast China,
            and across the Pacific, I got my B.S. from Cal State, East Bay
            in California. I migrated on to graduate school at Utah, completing
            a Ph.D. with Scott L. Anserson in 2016, then I joined Sylvia T.
            Ceyer's lab as a postdoc at MIT in 2017.</p>
            <p>Apart from my research in the field of surface chemistry, I also
            enjoy brewing beer, and learning some cool stuff about Python, or
            computer programming in general. I have to say, it is a good time
            now to be a computer programmer.</p>
        </div>
        <div class="col-md-6">
            <img class="img-fluid" src="{% static 'homepage/images/pic4.jpg' %}">
        </div>
    </div>
    </div>
</div>
{% endblock %}
