<!DOCTYPE HTML>
<html>
<head>
    <title>Yang Dai - Chemist, Programming Enthusiast</title>
    {% load staticfiles %}
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="{% static 'homepage/assets/css/main.css' %}" rel="stylesheet">
</head>
<body>
    <!-- Header -->
        <header id="header" class="alt">
            <div class="logo">
                <a href="#">MIT <span>SURFACE SCIENCE AND MACHINE LEARNING</span></a>
            </div>
            <a href="#menu">Menu</a>
        </header>

    <!-- Nav -->
        <nav id="menu">
            <ul class="links">
                <li><a href="index.html">Home</a></li>
                <li><a href="generic.html">Resume</a></li>
                <li><a href="elements.html">Chemistry Projects</a></li>
                <li><a href="elements.html">Programming Projects</a></li>
                <li><a href="elements.html">Path to Data Science</a></li>
                <li><a href="elements.html">Blog</a></li>
            </ul>
        </nav>

    <!-- Banner -->
        <section class="banner full">
            <article>
                <img src="{% static 'homepage/images/slide04.jpg' %}" alt="" />
                <div class="inner">
                    <header>
                        <p>Surface Chemistry, Data Science, Homebrewing</p>
                        <h2>Yang Dai</h2>
                    </header>
                </div>
            </article>
            <!-- another image can be added here if needed.-->
        </section>
    <!-- One -->
        <section id="one" class="wrapper style2">
            <div class="inner">
                <header class="align-center">
                    <p class="special">Atoms, CLusters, Particles</p>
                    <h2>Surface Chemistry</h2>
                </header>
                <section id="one" class="wrapper style2">
                    <div class="inner">
                        <div class="grid-style">

                            <div>
                                <div class="box">
                                    <div class="image fit">
                                        <img src="{% static 'homepage/images/project_instrumentdesign.png' %}" alt="" />
                                    </div>
                                    <div class="content">
                                        <header class="align-center">
                                            <p>Cluster Deposition Source</p>
                                            <h2>UHV Instrument Design with AutoCAD</h2>
                                        </header>
                                        <p>Design of a sophisticated UHV instrument, including ion optics, quadrupoles, vacuum chambers, sample stages, and various deposition systems.</p>
                                    </div>
                                </div>
                            </div>

                            <div>
                                <div class="box">
                                    <div class="image fit">
                                        <img src="{% static 'homepage/images/project_cluster.jpg' %}" alt="" />
                                    </div>
                                    <div class="content">
                                        <header class="align-center">
                                            <p>Home-built surface science instrument </p>
                                            <h2>Turn Design into Reality</h2>
                                        </header>
                                        <p>I successfully built and tested the UHV surface science appratus from the ground up. It was a huge project, and I learned a lot from it.</p>
                                    </div>
                                </div>
                            </div>

                            <div>
                                <div class="box">
                                    <div class="image fit">
                                        <img src="{% static 'homepage/images/paper.png' %}" alt="" />
                                    </div>
                                    <div class="content">
                                        <header class="align-center">
                                            <p>Home-built surface science instrument </p>
                                            <h2>Turn Design into Reality</h2>
                                        </header>
                                        <p> Cras aliquet urna ut sapien elementum nibh a libero pharetra elementum. Maecenas feugiat ex purus, quis volutpat lacus placerat malesuada.</p>
                                    </div>
                                </div>
                            </div>

                            <div>
                                <div class="box">
                                    <div class="image fit">
                                        <img src="{% static 'homepage/images/project_littlemachine.jpg' %}" alt="" />
                                    </div>
                                    <div class="content">
                                        <header class="align-center">
                                            <p>Home-built surface science instrument </p>
                                            <h2>Turn Design into Reality</h2>
                                        </header>
                                        <p> Cras aliquet urna ut sapien elementum nibh a libero pharetra elementum. Maecenas feugiat ex purus, quis volutpat lacus placerat malesuada.</p>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </section>
            </div>
        </section>

    <!-- Two -->
        <section id="two" class="wrapper style3">
            <div class="inner">
                <header class="align-center">
                    <p>Nam vel ante sit amet libero scelerisque facilisis eleifend vitae urna</p>
                    <h2>Morbi maximus justo</h2>
                </header>
            </div>
        </section>

    <!-- Three -->
        <section id="three" class="wrapper style2">
            <div class="inner">
                <header class="align-center">
                    <p class="special">Nam vel ante sit amet libero scelerisque facilisis eleifend vitae urna</p>
                    <h2>Morbi maximus justo</h2>
                </header>
                <div class="gallery">
                    <div>
                        <div class="image fit">
                            <a href="#"><img src="{% static 'homepage/images/pic01.jpg' %}" alt="" /></a>
                        </div>
                    </div>
                    <div>
                        <div class="image fit">
                            <a href="#"><img src="{% static 'homepage/images/pic02.jpg' %}" alt="" /></a>
                        </div>
                    </div>
                    <div>
                        <div class="image fit">
                            <a href="#"><img src="{% static 'homepage/images/pic03.jpg' %}" alt="" /></a>
                        </div>
                    </div>
                    <div>
                        <div class="image fit">
                            <a href="#"><img src="{% static 'homepage/images/pic04.jpg' %}" alt="" /></a>
                        </div>
                    </div>
                </div>
            </div>
        </section>


    <!-- Footer -->
        <footer id="footer">
            <div class="container">
                <ul class="icons">
                    <li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
                    <li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
                    <li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
                    <li><a href="#" class="icon fa-envelope-o"><span class="label">Email</span></a></li>
                </ul>
            </div>
            <div class="copyright">
                &copy; Untitled. All rights reserved.
            </div>
        </footer>

    <!-- Scripts -->
        <script src="{% static 'homepage/assets/js/jquery.min.js' %}"></script>
        <script src="{% static 'homepage/assets/js/jquery.scrollex.min.js' %}"></script>
        <script src="{% static 'homepage/assets/js/skel.min.js' %}"></script>
        <script src="{% static 'homepage/assets/js/util.js' %}"></script>
        <script src="{% static 'homepage/assets/js/main.js' %}"></script>
</body>
</html>
