{% extends 'homepage/base.html' %}
{% block content %}
{% load staticfiles %}

<div class="container text-center">
    <div class="row">
        <div class="col-lg-6">
            <a href="#"><img src="{% static 'homepage/images/project_instrumentdesign.png' %}"></a>
            <a href="#"><h4>Instrument Design with CAD tools</h4></a>
        </div>
        <div class="col-lg-6">
            <a href="#"><img src="{% static 'homepage/images/project_cluster.jpg' %}"></a>
            <a href="#"><h4>Size-Selected Cluster Deposition System </h4></a>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6">
            <a href="#"><img src="{% static 'homepage/images/project_littlemachine.jpg' %}"></a>
            <a href="#"><h4>Molecular Beam System </h4></a>
        </div>
        <div class="col-lg-6">
            <a href="#"><img src="{% static 'homepage/images/project_result.png' %}"></a>
            <a href="#"><h4>Some Results of the Research</h4></a>
        </div>
    </div>
</div>

{% endblock %}
