{% extends 'homepage/base.html' %}

{% block content %}
{% load staticfiles %}

<div class="container text-center">
    <h1>Welcome to Yang's Brewery</h1>
</div>

<div class="container text-center">
    <div class="row">
        <div class="col-lg-12">
            <div id="post">
                {%for post in object_list %}
                    <h5>{{ post.date|date:"Y-m-d" }}&nbsp&nbsp&nbsp&nbsp&nbsp<a href="/brew_blog/{{ post.id }}">{{ post.title }}</a></h5>
                {% endfor %}
            </div>
        </div>
    </div>
</div>


{% endblock %}
