.navbar {
    margin-bottom: 0;
    border-radius: 0;
    background-color: #68636F;
    padding: 0.5% 0;
    font-size: 1.5em;
    border: 0;
    }

.navbar-brand {
    float: left;
    min-height: 50px;
    padding: 9px 15px 5px;
    font-family: 'Ariel', cursive;
    font-size: 2em;
    }

.navbar-inverse .navbar-nav .active a, .navbar-inverse .navbar-nav .active a:focus, .navbar-inverse .navbar-nav .active a:hover{
    color: #FFF;
    background-color: #5E4485;
    }

.navbar-inverse .navbar-nav li a{
    color: #D5D5D5;
    }

.carousel-caption{
    top: 50%;
    transform:translateY(-50%);
    text-transform: uppercase;
    }

.btn{
    font-size: 18px;
    color: #FFF;
    padding:12px 22px;
    background: #5E4485;
    border: 2px solid #FFF;
    }

.container{
    margin: 4% auto;
    }

footer {
    width: 100%;
    background-color: #68636F;
    padding: 1%;
    color: #FFF;
    }

.fa {
    padding: 20px;
    font-size: 30px;
    color: white;
    }

.fa:hover {
    color: #D5D5D5;
    text-decoration: none;
    }

@media (max-width: 600px) {
    .fa{
        font-size: 20px;
        padding: 10px;
    }
    }

@media (max-width: 600px) {
    .carousel-caption{
        display: none;
    }
    h2 {
        font-size: 1.7em;
    }
    .icon {
        max-width: 200px;
        margin: 3% auto;
    }
    }

h4 {
    padding: 4%;

    }

#post{text-align: left}

#content {
    margin: 4%;
    padding: 9px 15px 5px;
}

.img-responsive {
    margin: 0 auto;
}

.image-3-col {
    height: 30%;
    width: 30%;
}

.paragraph {
    margin: 50px 50px 10px;
}
